body {
  margin: 0;
  /* font-family: "Lato", sans-serif; */
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  /* background-color: #333F48; */
  background-color: var(--primary-bg-color);
}

/* .App {
  height: 100%;
} */

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 95vw;
  width: 95% !important;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 500px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.App-header {
  height: 100%;
  display: flex;
  align-items: center;
  /* height: 800px; */
}

.subtitle {
  font-weight: bold;
  width: 100%;
}

.display {
  font-size: 20px;
  font-weight: 600;
}

.note {
  font-size: 13px;
  font-weight: lighter;
  text-align: center;
}
.note-value {
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

@media (max-width: 1280px) {
  /* .display {
    font-size: 34px;
    font-weight: normal;
  } */
  .subtitle {
    font-size: 13px;
  }
  .note {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  /* .display {
    font-size: 24px;
  } */
  .subtitle {
    font-size: 13px;
  }
  .note {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .App-header {
    /* height: 100%; */
    display: block;
    align-items: center;
    /* height: 800px */
  }

  /* .display {
    font-size: 20px;
  } */
  .subtitle {
    font-size: 12px;
  }
  .note {
    font-size: 9px;
  }
}

@media (max-width: 480px) {
  /* .display {
    font-size: 20px;
  } */
  .subtitle {
    font-size: 12px;
  }
  .note {
    font-size: 8px;
  }
}

@media (max-width: 415px) {
  /* .display {
    font-size: 17px;
  } */
  .note {
    font-size: 6px;
  }
  .subtitle {
    font-size: 8px;
  }
}

@media (max-width: 375px) {
  .display {
    font-size: 15px;
  }
  .note {
    font-size: 5px;
  }
}

@media (max-width: 360px) {
  .display {
    font-size: 12px;
  }
  .subtitle {
    font-size: 7px;
  }
  .note {
    font-size: 5px;
  }
}

@media (max-width: 320px) {
  .display {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  .subtitle {
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
