.utilization_container {
  max-width: 250px;
  height: 100%;
}

.circle-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 6px;
  height: 100%;
}

.circle-block svg {
  /* width: 250px; */
  width: 100%;
  /* background-color: cadetblue;  
  border: 2px solid blue;  */
}

.percentage {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:black;
}

.circle-max {
  fill: none;
  stroke-width: 6px;
  stroke: #3e4b55;
  stroke-linejoin: round;
}

.circle-current {
  fill: none;
  /* orange */
  stroke: #ff6a00;

    /* Megenta  */
  /* stroke:#F04187; */

  /* red */
  /* stroke:#FF7675; */

  /* stroke:#E1140A; */
  

  /* blue */
  /* stroke:#5198E0; */

  /* green */
  /* stroke:#6AC346; */

  /* Yellow */
  /* stroke:#FFB43D; */

  
  
  stroke-linejoin: round;
  stroke-width: 6px;
}

.percentage.percentage2 .subtitle {
  /* max-width: 135px; */
  text-align: center;
  height: 40.5px;
  width: 60%;
}

.percentage.percentage2 .display {
  line-height: 97px;
}

.percentage.percentage2.program .display {
  line-height: 78px;
}

@media (max-width: 1100px) {
  .percentage.percentage2 .display {
    line-height: 84px;
  }
  .circle-current {
    stroke-width: 5px;
  }
  .circle-max {
    stroke-width: 5px;
  }
  /* .circle-block svg {
    width: 200px;
  } */
  .percentage {
    top: 40px;
  }
}

@media (max-width: 1000px) {
  .percentage.percentage2 .display {
    line-height: 76px;
  }
  .percentage {
    top: 40px;
  }

}

@media (max-width: 995px) {
  .percentage.percentage2 .display {
    line-height: 64px;
  }
  /* .circle-block svg {
    width: 160px;
  } */
  .percentage {
    top: 45px;
  }
}

@media (max-width: 940px) {
  .percentage.percentage2 .display {
    line-height: 56px;
  }
}

@media (max-width: 900px) {
  .percentage.percentage2 .display {
    line-height: 48px;
  }
}

/* 
@media (max-width: 865px) {
  .percentage {
    top: 68px;
  }
} */

@media (max-width: 480px) {
  /* .circle-block svg {
    width: 170px;
  } */
  .percentage.percentage2 .subtitle {
    padding-top: 5px;
  }
}

@media (max-width: 415px) {
  .percentage.percentage2 .subtitle {
    height: 28.5px;
  }
}

@media (max-width: 385px) {
  /* .circle-block svg {
    width: 150px;
  } */
  .percentage.percentage2 .display {
    line-height: 55px;
  }
}

@media (max-width: 360px) {
  .percentage.percentage2 .subtitle {
    padding-top: 14px;
  }
  /* .circle-block svg {
    width: 140px;
  } */
}

@media (max-width: 320px) {
  /* .circle-block svg {
    width: 125px;
  } */
  .percentage.percentage2 .display {
    line-height: 50px;
  }
  .percentage.percentage2 .subtitle {
    padding-left: 5px;
  }
}
